* {
  margin: 0;
  padding: 0;
}

body {
  background: url("../images/bg-intro-desktop.png") repeat top left, #FF7979;
  font-family: "Poppins", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding: 60px 11%;
}
.container section.text, .container section.form-container {
  flex: 1;
}
.container section.text h1 {
  font-size: 50px;
  line-height: 55px;
  margin-top: 170px;
}
.container section.text p {
  font-size: 16px;
  line-height: 26px;
}
.container section.form-container {
  padding-left: 15px;
}
.container section.form-container .offer, .container section.form-container .form {
  border-radius: 10px;
}
.container section.form-container .offer {
  background-color: #5E54A4;
  color: #fff;
  font-size: 15px;
  line-height: 26px;
  padding: 14px 31px;
  margin: 0 0 20px 0;
  filter: drop-shadow(0 8px 0 rgba(0, 0, 0, 0.137));
}
.container section.form-container .form {
  padding: 40px;
  background-color: #fff;
  text-align: center;
}
.container section.form-container .form input, .container section.form-container .form button {
  width: 100%;
  border: 1px solid #BAB7D4;
  padding: 14px 31px;
  box-sizing: border-box;
  border-radius: 5px;
}
.container section.form-container .form .input-container {
  position: relative;
  margin-bottom: 20px;
}
.container section.form-container .form .input-container input {
  font-size: 14px;
  line-height: 26px;
  color: #615d72;
  border: 1px solid #DEDEDE;
}
.container section.form-container .form .input-container input::placeholder, .container section.form-container .form .input-container input::-webkit-input-placeholder {
  opacity: 1;
  font-weight: 700;
  color: #3D3B48;
}
.container section.form-container .form .input-container input:-webkit-autofill, .container section.form-container .form .input-container input:-webkit-autofill:hover, .container section.form-container .form .input-container input:-webkit-autofill:focus {
  color: #3D3B48;
  -webkit-text-fill-color: #3D3B48;
  box-shadow: none;
  -webkit-box-shadow: none;
  transition: background-color 5000s ease-in-out 0s;
}
.container section.form-container .form .input-container input.show-error {
  background: url("../images/icon-error.svg") no-repeat center right 20px/contain;
  background-size: 24px 24px;
  border: 1px solid #FF7979;
}
.container section.form-container .form .input-container input.show-error::placeholder {
  opacity: 0;
}
.container section.form-container .form .input-container input.show-error ~ .error-message {
  display: block;
}
.container section.form-container .form .input-container .error-message {
  display: none;
  position: inherit;
  font-size: 11px;
  text-align: right;
  line-height: auto;
  padding-top: 2px;
}
.container section.form-container .form button {
  text-transform: uppercase;
  background-color: #38CC8B;
  color: #fff;
  margin-bottom: 10px;
  border: none;
  box-shadow: 0px 5px #30bb7e;
}
.container section.form-container .form button:hover {
  padding: 14px 31px;
  cursor: pointer;
  background-color: #61d6a3;
}
.container section.form-container .form .terms {
  font-size: 11px;
  line-height: 26px;
}
.container .text {
  color: #fff;
}

.color-red {
  color: #FF7979;
}

.color-gray {
  color: #BAB7D4;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: 700;
}

@media screen and (max-width: 859px) {
  .container {
    flex-direction: column;
    align-items: unset;
    padding: 88px 24px 60px;
  }
  .container section.text h1 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 28px;
    line-height: 36px;
    text-align: center;
  }
  .container section.text p {
    margin-bottom: 65px;
    line-height: 26px;
    text-align: center;
  }
  .container section.form-container {
    padding-left: 0;
  }
  .container section.form-container .form {
    padding: 24px;
  }
  .container section.form-container .form .input-container input {
    padding: 14px 15px;
  }
  .container section.form-container .form .input-container input.show-error {
    background-position: center right 14px;
  }
}

/*# sourceMappingURL=style.css.map */
