  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1440px;
    //box-sizing: border-box;
    margin: 0 auto; //keep an eye on this
    padding: 60px 11%; //11% is 165px when the screen is 1440px
    
    section.text, section.form-container {
        flex:1;
    }
    
    section.text {
        h1 {
            font-size: 50px;
            line-height: 55px;
        }
        
        p {
            font-size: 16px;
            line-height: 26px;
        }
    }
    
    section.form-container {
        padding-left: 15px;
        
        .offer, .form {
            border-radius: 10px;
        }
        .offer {
            background-color: $color-purple;
            color:#fff;
            padding: 14px 31px;
            margin: 0 0 20px 0;
            filter:drop-shadow(0 8px 0 darken(rgba(0, 0, 0, 0.137),10%));
        }
        
        .form {
            padding: 40px;
            background-color: #fff;
            text-align: center;
            
            
            input, button {
                width: 100%;
                border: 1px solid $color-gray;
                padding: 14px 31px;
                box-sizing: border-box;
                border-radius: 5px;
            }
            
            .input-container {
                position: relative;
                margin-bottom:20px;
                input {
                    line-height: 26px;
                    color:lighten($color-dark-gray,15%);
                    //font: semi-bold

                    &::placeholder,
                    &::-webkit-input-placeholder {
                        font-weight: 700;
                        color:$color-dark-gray;
                    }
                    
                    &:-webkit-autofill,
                    &:-webkit-autofill:hover, 
                    &:-webkit-autofill:focus {
                        color:$color-dark-gray;
                        -webkit-text-fill-color: $color-dark-gray;
                        box-shadow:none;
                        -webkit-box-shadow: none;
                        transition: background-color 5000s ease-in-out 0s;
                    }
                    
                    &.show-error {
                        background: url('../images/icon-error.svg') no-repeat center right 20px/contain;
                        background-size: 24px 24px;
                        border: 1px solid $color-red;

                        ~ .error-message {
                            display: block;
                        }
                    }
                }
                
                .error-message {
                    display: none;
                    position: inherit;
                    font-size: 11px;
                    text-align: right;
                    line-height: auto;
                    padding-top: 2px;
                }
            }
            
            button {
                text-transform:uppercase;
                background-color: $color-green;
                color:#fff;
                margin-bottom:10px;
                border: none;
                // filter:drop-shadow(0 8px 0 darken($color-green,10%));
                // box-shadow: initial 10px 20px 10px #333;
                box-shadow: 0px 5px darken($color-green, 5%);
                
                &:hover {
                    padding: 14px 31px;
                    cursor: pointer;
                    background-color: lighten($color-green, 10%);
                }
            }
            
            .terms {
                font-size:11px;
                line-height: 26px;
            }
        }
    }
    
    .text {
        color:#fff;
    }
}


.color-red {
    color:$color-red;
}

.color-gray {
    color:$color-gray;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: 700;
}