@media screen and (max-width:859px) {
    .container {
        flex-direction: column;
        align-items: unset;
        padding: 88px 24px 60px;
        
        section.text {
            h1 {
                margin-top: 0;
                font-size: 28px;
                line-height: 36px;
                text-align: center;
            }

            p {
                margin-bottom: 65px;
                line-height: 26px;
                text-align: center;
            }
        }
        
        section.form-container {
            padding-left: 0;

            .form {
                padding: 24px;

                .input-container {
                    input {
                        padding: 14px 15px;

                        &.show-error {
                            // background: url('../images/icon-error.svg') no-repeat center right 20px/contain;
                            background-position: center right 14px;
                        }
                    }
                }
            }
        }
    }
}